#Body
{
    /*background-color:rgb(120, 161, 238);
    */

   background-color:black;
    /*
    background-color:rgb(228, 164, 118);
     background-color:rgb(120, 161, 238);
*/
}



#Text
{
   color:rgb(255, 255, 255);
  
    
}
#DIV3
{
    color:rgb(0, 255, 179);
   border: 1px solid rgb(255, 255, 255) ;
   height: 120px;
     width: 600px;
}
#DIV
{
    text-align: right;
 border:2px solid rgb(189, 189, 189);
 background-color: rgb(189, 189, 189);
 height: 2%;
 
 border-width: thick;

}

#AbdullahHamdan
{
    text-align: center;
    color: rgb(0, 0, 0);
    float: left;
    
}



#Data
{
    color: aliceblue;
    border: solid 2px wheat;
    height: 6%;
    width: 50%;
}
#IMGMATH
{
    height: 10cm;
}


@media only screen and (min-width: 350px) {
    
    #DivH2
    {
        color: rgb(255, 255, 255);
        border: 2px solid;
        height: 46cm;
    }
    .ChangeSize
    {
        font-family:cursive;

    }
    #AbdullahHamdan:hover{
        color: white;
        cursor: pointer;
        transition: ease-in-out 0.3s;
        font-size: 0.46cm;
    }
    #AbdullahHamdan
    {
        transition: all ease 0.5s;
    }
    #Lauange
    {
        border-radius: 0cm;
        transition: all ease 0.4s;
    }
    #Lauange:hover
    {
        border-radius: 1cm;
        transition: ease-in-out 0.3s;
    }
    #Button:hover
    {
      
       background-color: rgba(0, 49, 30, 0.836);
       transition: ease-in-out 0.3s;
        border-radius: 0.4cm;
        cursor: pointer;
        border: 2px solid rgba(0, 80, 49, 0.664);
        position: relative;
        z-index: 1;
    }
    #Link:hover
    {
        transition: ease-in-out 0.3s;
        font-size: 0.46cm;
        
    }
    
    #Link
    {
        transition: all ease 0.5s;
        color: rgb(255, 166, 0);
        font-family:'Courier New', Courier, monospace;
    }
    #Text
    {
        font-family:'Courier New', Courier, monospace;

    }
    #Button
    {
        
        height: 0.7cm;
        width: 2cm;
        color: rgb(255, 255, 255);
        background-color: rgba(41, 199, 138, 0.664);
        transition: all ease 0.3s;
    }
    .ChangeSizeMadeByAbdullahHamdan
    {
        font-size: 2cm;
        font-family:'Courier New', Courier, monospace;

    }
    #Math
    {
    color: aliceblue;
    border: solid 2px wheat;
    height: fit-content;
    width: 20cm;
    }
    #PagesText
    {
        font-size: 5cm;
    }

    #Num0Sum
       {
            text-align: center;
           font-size: 1cm;

        height: 200px; width: 200px; background-color: bisque; 
       } 
       #Num1Sum
       {
        text-align: center;
        font-size: 1cm;
        height: 200px; width: 200px; background-color: bisque; 
       }
       #ResultSum
       {
           font-size: 2cm;
       }

       #img
       {
           height: 1000px;
       }
      
    }
    @media only screen and (max-width: 1080px) {
        #Link
        {
            font-family:'Courier New', Courier, monospace;

        }
        #Button
        {
        color: rgb(255, 255, 255);
        background-color: rgba(41, 199, 138, 0.664);
        transition: all ease 0.3s;
        }
        #AbdullahHamdan
        {
            font-size: 1cm;
            
        }
        #UnityHubText
        {
            float: right;
            font-size: 1cm;
        }
        #KakashiImg
        {
            height: 10cm;
        }
        #Button
        {
            height: 1cm;
            width: 3cm;
            font-size: 0.7cm;
        }
        #KilluaImg
        {
            height: 10cm;
            width: 17.5cm;
        }
        #TatkaeImg
        {
            height: 10cm;
            width: 17.5cm;
        }
       
       #Lauange
       {
        height: 1.3cm;
        width: 3cm;
        font-size: 0.7cm;
       }
       #DivH2
       {
           height: fit-content;
           width: 20cm;
           border: solid 1px white;
       }
       
       #Text
       {
           font-size: 1cm;
       }
       #DIV3
       {
        height: 340px;
        width: 657px;
       }
       .ChangeSize
       {
           font-size: 1cm ;
           font-family:'Courier New', Courier, monospace;
            
       }
      
       .ChangeSizeMadeByAbdullahHamdan
       {
           font-size: 5cm;
       }
       .MobileFormCac
       {
           height: 10cm;
       }
       #Num0Sum
       {
           font-size: 5cm;
           text-align: center;
        height: 800px; width: 800px; background-color: bisque; 
        }          
       #Num1Sum
       {
        font-size: 5cm;
        text-align: center;

        height: 800px; width: 800px; background-color: bisque; 
       }
       #ResultSum
       {
           font-size: 10cm;
       }
       #Math
       {
       color: aliceblue;
       border: solid 2px wheat;
       height: fit-content;
       width: 20cm;
       }
       #Link
       {
           font-size: 0.5cm;
       }
       #img
       {
           height: 1500px;
           width: 27cm;
       }
       #pageSlecter
       {
           width: 5cm;
           height: 5cm;
           font-size: 4cm;
       }
       #PagesText
       {
           font-size: 10cm;
       }
      
       
    }
    



